@model IEnumerable<DormDoorMan.Models.VisitsReportViewModel>

@{
    ViewBag.Title = "Index";
    ViewBag.Tab = "report";
}

<h2>Relatório de Diárias</h2>

@using (Html.BeginForm("Index", "VisitsReport", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <p>
        <div>
            <span>Data Inicial: </span>
            @Html.TextBox("StartDate", null, htmlAttributes: new { @Value = string.Format("{0:yyyy-MM-dd}", ViewBag.StartDate), @class = "form-control", @type = "date" })
        </div>
        <div>
            <span>Data Final: </span>
            @Html.TextBox("EndDate", null, htmlAttributes: new { @Value = string.Format("{0:yyyy-MM-dd}", ViewBag.EndDate), @class = "form-control", @type = "date" })
        </div>
    </p>
    <div class="form-horizontal">
        <div>
            <input type="submit" value="Search" class="btn btn-default" />
        <p></p>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Resident)</th>
        <th>@Html.DisplayNameFor(model => model.hostingDays)</th>
        <th>@Html.DisplayNameFor(model => model.extraDays)</th>
        <th>@Html.DisplayNameFor(model => model.hostingFees)</th>
        <!--<th></th>-->
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Resident.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hostingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.extraDays)
        </td>
        <td>
            <span>R$ </span>@Html.DisplayFor(modelItem => item.hostingFees)
        </td>
       <!--<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>-->
    </tr>
}

</table>
